---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;


$header-heading-color: #fff !default;
$header-bg-color: #f39c12;
$header-bg-color-secondary: #e67e22;

@import "{{ site.theme }}";
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
