---
---
$header-bg-color: #FF0000;
$header-bg-color-secondary: #FF0000;
$section-headings-color: #FF0000;

@import "{{ site.theme }}";
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
