---
---



$header-heading-color: #ff0000;
$header-bg-color: #f39c12;
$header-bg-color-secondary: #e67e22;

@import "{{ site.theme }}";
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
